*{
    font-family: 'Muli', sans-serif;
}


body{
    display: grid;
    grid-template-columns: auto 900px auto;
    grid-row: 200px 400px auto;
    transition: background-color 0.3s linear;
    background-color: black;
    margin: 0;
    
}

#gameBoard{
    margin-top: 200px;
    height: 500px;
    grid-row: 3/4;
    grid-column: 2/3;
    padding: 20px;
    border-radius: 20px;
    background-image: url('../boardbg.jpg');
    /* background-color: green; */
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.94); 
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.94);
    border: 1px solid white;
    display: grid;
    grid-template-columns: 10fr;
    
    grid-row: 10px 480px 10px;
}



#gameBoard .card{
    z-index: 10;
    transition: margin 1s ease-in-out;
    background-image: url("../card_images/blue_back.jpg");
    background-size: 80px 100px; 
    background-repeat: no-repeat;   
    height:100px ;
    width:80px ;
    transition: background-image 0.3s linear;
    border: 1px solid white;
    border-radius: 6px;
    margin-top:;
    position: absolute;  
    

}
#play-btn{
    height: 50px;
    width: 100px;
    border-radius: 7px;
    color: white;
    font-size: 25px;
    z-index: 10;
    margin:141px 0 0 270px ;
    
    position: absolute;
    background-color: #004E1C;
}
#play-btn:hover{
    display: block;
    
    transition: 0.2s ease-out;
    background-color: #018a33;
}




#column7{
    grid-column: 8/9;
    grid-row: 2/3;
    display: flex;
    transition: margin 1s ease-in-out;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100px;
}

#column7 .card{
    z-index: 10;
    margin-top: -100px;
    transition: margin 1s ease-in-out,background-image 0.3s linear;
    background-image: url("../card_images/blue_back.jpg");
    background-size: 80px 100px; 
    background-repeat: no-repeat;   
    height:100px ;
    width:80px ;
    border-radius: 6px;
    position: relative;
}
#column6{
    grid-column: 7/8;
    grid-row: 2/3;
    transition: margin 1s ease-in-out;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100px;
}

#column6 .card{
    z-index: 10;
    margin-top: -100px;
    transition: margin 1s ease-in-out,background-image 0.3s linear;
    background-image: url("../card_images/blue_back.jpg");
    background-size: 80px 100px; 
    background-repeat: no-repeat;   
    height:100px ;
    width:80px ;
    border-radius: 6px;
    position: relative;
}
#column5{
    grid-column: 6/7;
    grid-row: 2/3;
    transition: margin 1s ease-in-out;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100px;
}

#column5 .card{
    z-index: 10;
    margin-top: -100px;
    transition: margin 1s ease-in-out,background-image 0.3s linear;
    background-image: url("../card_images/blue_back.jpg");
    background-size: 80px 100px; 
    background-repeat: no-repeat;   
    height:100px ;
    width:80px ;
    border-radius: 6px;
    position: relative; to .content;
}
#column4{
    grid-column: 5/6;
    margin-top: 100px;
    grid-row: 2/3;
    transition: margin 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100px;
}

#column4 .card{
    z-index: 10;
    margin-top: -100px;
    transition: margin 1s ease-in-out,background-image 0.3s linear;
    background-image: url("../card_images/blue_back.jpg");
    background-size: 80px 100px; 
    background-repeat: no-repeat;   
    height:100px ;
    width:80px ;
    border-radius: 6px;
    position: relative; to .content;
}
#column3{
    grid-column: 4/5;
    grid-row: 2/3;
    display: flex;
    margin-top: 100px;
    transition: margin 1s ease-in-out;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100px;
}

#column3 .card{
    z-index: 10;
    margin-top: -100px;
    transition: margin 1s ease-in-out,background-image 0.3s linear;
    background-image: url("../card_images/blue_back.jpg");
    background-size: 80px 100px; 
    background-repeat: no-repeat;   
    height:100px ;
    width:80px ;
    border-radius: 6px;
    position: relative; to .content;
}
#column2{
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    margin-top: 100px;
    transition: margin 1s ease-in-out;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100px;
}

#column2 .card{
    z-index: 10;
    margin-top: -100px;
    transition: margin 1s ease-in-out,background-image 0.3s linear;
    background-image: url("../card_images/blue_back.jpg");
    background-size: 80px 100px; 
    background-repeat: no-repeat;   
    height:100px ;
    width:80px ;
    border-radius: 6px;
    position: relative; to .content;
}
#column1{
    grid-column: 2/3;
    grid-row: 2/3;
    transition: margin 1s ease-in-out;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100px;
    background-size: 80px 100px;
    background-repeat: no-repeat;
    
}

#column1 .card{
    z-index: 10;
    transition: margin 1s ease-in-out,background-image 0.3s linear;
    margin-top: -100px;
    background-image: url("../card_images/blue_back.jpg");
    background-size: 80px 100px; 
    background-repeat: no-repeat;   
    height:100px ;
    width:80px ;
    border-radius: 6px;
    
    position: relative;
}

.card:hover{
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.94); 
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.94);
}
#deck{
    grid-column: 1/2;
    width: 100px;
    
    height: 100px;
    display: flex;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}
#face-up-deck{
    margin-top: 120px;
    grid-column: 1/2;
    width: 100px;
    position: absolute;
    background-color: ;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#gameHeader{
    background-color: ;
    display: grid;
    
    position: absolute;
    width: 860px;
    margin-top: -80px;
    height: 50px;
    
    grid-column: 2/3;
}

#gameHeader h3{
    float:right;
    font-size: 30px;
    line-height: 0px;
    font-weight: 300;
    font-family: 'Muli', sans-serif;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    transition: 1s ease;
}
#moves{
    
}


.card-placeholder{
    height: 100px;
    width:  80px;
    margin-top: -100px;
    opacity: 0.2;
    border-radius: 6px;
    position: absolute;
    visibility: hidden;

}

#deck-diamonds{
    background-color:blue ;
    height: 100px;
    width: 80px;
    position: absolute;
    margin-top: 0;
    margin-left: 880px;
    background-size: 80px 100px;
    background-repeat: no-repeat;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.94); 
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.94);
    visibility: hidden;
    background-image: url('../card_images/diamonds.png');
}
#deck-hearts{
    background-color:pink ;
    height: 100px;
    width: 80px;
    position: absolute;
    margin-top: 135px;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.94); 
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.94);
    background-size: 80px 100px;
    background-repeat: no-repeat;
    border-radius: 7px;
    margin-left: 880px;
    visibility: hidden;
    background-image: url('../card_images/hearts.png');
}
#deck-spades{
    background-color:maroon ;
    height: 100px;
    width: 80px;
    border-radius: 7px;
    position: absolute;
    margin-top: 265px;
    background-size: 80px 100px;
    background-repeat: no-repeat;
    margin-left: 880px;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.94); 
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.94);
    visibility: hidden;
    background-image: url('../card_images/spades.png');
}
#deck-clubs{
    background-color:aqua ;
    height: 100px;
    width: 80px;
    position: absolute;
    border-radius: 7px;
    visibility: hidden;
    background-size: 80px 100px;
    background-repeat: no-repeat;
    margin-top: 400px;
    margin-left: 880px;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.94); 
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.94);
    background-image: url('../card_images/clubs.png');
}

#themes-controller-wrapper{
    position: absolute;
    grid-column: 1/10;
    background-color: grey;
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    /* margin-top: -30px; */

#themes-controller-wrapper h3{
    transition: 0.5s linear;
}



/* THEME STYLES BELOW ONLY */

#h3{
    padding:5px;
}
.switch {
    margin-left:5px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;evt.target.removeEventListener('click')
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  #card-back-controller-green{
      background-image: url('../card_images/Green_back.jpg');
      border-radius: 2px;
      background-size: 20px 25px;
      height: 25px;
      width: 20px;
      border-radius: 3%;
      margin-left: 10px;
  }
  #card-back-controller-yellow{
      background-image: url('../card_images/Yellow_back.jpg');
      background-size: 20px 25px;
      height: 25px;
      width: 20px;
      border-radius: 3%;
      margin-left: 10px;
  }
  #card-back-controller-red{
      background-image: url('../card_images/Red_back.jpg');
      background-size: 20px 25px;
      height: 25px;
      width: 20px;
      border-radius: 3%;
      margin-left: 10px;
  }
  #card-back-controller-grey{
      background-image: url('../card_images/Gray_back.jpg');
      background-size: 20px 25px;
      height: 25px;
      border-radius: 3%;
      width: 20px;
      margin-left: 10px;
  }
  #card-back-controller-purple{
      background-image: url('../card_images/purple_back.jpg');
      background-size: 20px 25px;
      height: 25px;
      border-radius: 3%;
      width: 20px;
      margin-left: 10px;
  }
  #card-back-controller-willow{
      background-image: url('../card_images/willow.jpg');
      background-size: 20px 25px;
      height: 25px;
      border-radius: 3%;
      width: 20px;
      margin-left: 10px;
  }
  #card-back-controller-lyra{
      background-image: url('../card_images/lyra.jpg');
      background-size: 20px 25px;
      height: 25px;
      width: 20px;
      border-radius: 3%;
      margin-left: 10px;
  }